@model LiveDisplayModel

@{
  ViewData["Title"] = "LiveDisplay";
}
<script>
  @Html.Raw($"var chatRoomId = {Model.ChatRoom.ChatRoomId};")
  @Html.Raw($"var playerId = {Model.ActivePlayer.PlayerId};")
  @Html.Raw($"var fantasyDate = {Model.FantasyDate};")
</script>

<h3>@Html.Raw(Model.CampaignName)</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1><span id="liveDate" class="liveDate"></span></h1>
        </div>
    </div>
  <div class="row">&nbsp;</div>
  <div class="row" style="min-height:80%">
    <div class="col-md-2" id="calendarDiv">
      <table class="calendarTable">
        <tr>
          <th colspan="7"><span id="calendarMonthName"></span></th>
        </tr>
        <tr>
          <td id="calendar1">01</td>
          <td id="calendar2">02</td>
          <td id="calendar3">03</td>
          <td id="calendar4">04</td>
          <td id="calendar5">05</td>
          <td id="calendar6">06</td>
          <td id="calendar7">07</td>
        </tr>
        <tr>
          <td id="calendar8">08</td>
          <td id="calendar9">09</td>
          <td id="calendar10">10</td>
          <td id="calendar11">11</td>
          <td id="calendar12">12</td>
          <td id="calendar13">13</td>
          <td id="calendar14">14</td>
        </tr>
        <tr>
          <td id="calendar15">15</td>
          <td id="calendar16">16</td>
          <td id="calendar17">17</td>
          <td id="calendar18">18</td>
          <td id="calendar19">19</td>
          <td id="calendar20">20</td>
          <td id="calendar21">21</td>
        </tr>
        <tr>
          <td id="calendar22">22</td>
          <td id="calendar23">23</td>
          <td id="calendar24">24</td>
          <td id="calendar25">25</td>
          <td id="calendar26">26</td>
          <td id="calendar27">27</td>
          <td id="calendar28">28</td>
        </tr>
        <tr>
          <td colspan="7"><hr /></td>
        </tr>
        <tr>
          <td colspan="7"><span id="shortLiveDate">000000/00/00</span></td>
        </tr>
      </table>
    </div>
    <div class="col-md-7 hidden-sm-down" id="liveDiv">
      <canvas id="liveCanvas" class="img-responsive" onload="canvasLoad()"></canvas>
      <img class="hidden" src="~/images/TestMap.png" alt="TestMap" />
    </div>
    <!--
    <div class="col-md-3 col-sm-10" id="chatBox">
      Now in chatroom: @Model.ChatRoom.ChatRoomName
      <div class="row" style="min-height:80%">
        <div class="col-12" style="min-height:80%;overflow:scroll">
          <ul id="messagesList"></ul>
        </div>

        <div class="col-12">&nbsp;</div>
      </div>

      <div class="row h-15">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="col-12">&nbsp;</div>
      <div class="col-12">
        User..........<input type="text" id="userInput" />
        <br />
        Message...<input type="text" id="messageInput" />
        <input type="button" id="sendButton" value="Send Message" />
      </div>

    </div>
    -->
  </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/liveDisplay.js"></script>
@*<script src="~/js/es5-liveDisplay.js"></script>*@
