@model IEnumerable<BestiaryListItem>

@{
    ViewData["Title"] = "BestiaryIndex";
}

<h2>BestiaryIndex</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Name), "Bestiary", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.CrDisplay), "Bestiary", new { sortOrder = ViewBag.CrSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Type), "Bestiary", new { sortOrder = ViewBag.TypeSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CrDisplay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubType)
                </td>
                <td>
                    @Html.ActionLink("Edit", "BestiaryEdit", "DM", new { bestiaryId = item.BestiaryId }) |
                    @Html.ActionLink("Delete", "BestiaryDelete", "DM", new { bestiaryId = item.BestiaryId })
                </td>
            </tr>
        }
    </tbody>
</table>
