@model IEnumerable<BestiaryListItem>

@{
    ViewData["Title"] = "BestiaryIndex";
}

<h2>BestiaryIndex</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Name), "Bestiary", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.CrDisplay), "Bestiary", new { sortOrder = ViewBag.CrSortParm })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Type), "Bestiary", new { sortOrder = ViewBag.TypeSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BestiaryId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.BestiaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
